html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.screen-reader:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.container-large {
  display: flex;
}

.container-small {
  max-width: 740px;
  height: 263px;
  padding: 64px 0px 64px 0px;
  margin: 0 auto;
  text-align: center;
}

.main-header {
  display: flex;
  height: 12vh;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 40px;
  border-bottom: 1px dotted gray;
}

.logo {
  width: 137px;
  height: 44px;
  margin-left: 35px;
}

.cart-wrapper {
  display: flex;
}
.cart {
  height: 48px;


}

.links-container {

  font-size: 0.9rem;
  display: flex;
  margin-top: 100px;
  margin-right: 57px;
  align-items: flex-end;
  
 
 
}
.links-nav li {
  display: inline;

}


.links-container a {
  color: #e2574c;
  text-decoration: none;
  margin-right: 10px;
}

.banner {
  background: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, repeat-x;
  background-position: top center;

  background-size: 240px 615px, 60%;
  height: 500px;
  color: white;
}

.overlay {
  height: 500px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.new-collection {
  font-family: "Raleway", serif;
  font-size: 26px;
  margin-bottom: 20px;
}
.spring-summer {
  font-size: 60px;
}

.banner h1 {
  height: 200px;
  padding: 0px 0px 0px 0px;
  font-family: "Playfair Display";
  display: flex;
  justify-content: center;
  align-items: top;
}

.container-large nav {
  font-family: "Raleway";
}

.container-small h1 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
}
.hand-crafted-container {
  font-size: 48px;
}

.hand-crafted {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.container-small p {
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 100;
}

.featured {
  font-family: "Raleway";
  font-size: 30px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.featured a {
  font-family: "Raleway";
  font-size: rem;
  text-decoration: none;
  color: white;
}

.products {
  border-width: 5px 5px 0px 0px;
  border-style: solid;
  border-color: white;
}

.mens {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/mens-category.jpg);
  height: 25vw;
  width: 50%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.trends {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/trends-category.jpg);
  height: 25vw;
  width: 25%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.glasses {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/glasses-category.jpg);
  height: 25vw;
  width: 25%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.sale {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/sale-category.jpg);
  height: 25vw;
  width: 25%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.bags {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/bags-category.jpg);
  height: 25vw;
  width: 25%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.womens {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/womens-category.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25vw;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-carousel {
  height: 650px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 7rem 0;
}

.mlp h3 {
  height: 100px;
  font-size: 38px;
  font-family: "PLayfair Display";
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bold {
  font-style: normal;
}

.carousel-cell {
  height: 450px;
  width: 100%;
  text-align: center;
}

.skd {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skd h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.skd h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.skd h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.cbs {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cbs h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.cbs h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.cbs h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.csd {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.csd h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.csd h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.csd h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.bhbp {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bhbp h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.bhbp h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.bhbp h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.dos {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dos h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.dos h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.dos h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.pdd {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pdd h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.pdd h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.pdd h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.bsd {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bsd h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.bsd h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.bsd h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

.cyts {
  margin: 0px 0px 0px 15px;
  color: #e2574c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cyts h4 {
  height: 35px;
  font-family: "Raleway";
  font-size: 12px;
  color: #969696;
}

.cyts h1 {
  height: 35px;
  font-family: "Playfair Display";
  font-size: 24px;
}

.cyts h2 {
  height: 35px;
  margin: 15px auto;
  font-family: "Raleway";
  font-size: 16px;
  color: #969696;
}

@media screen and (min-width: 600px) {
  .main-header {
    height: auto;
    /* position: relative;
    right: 90px;
    padding: 0px 0px 25px 20px;
    border: dotted;
    border-width: 0px 0px 1px 0px;
    display: flex; */
  }

  .links-container a {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    color: #e2574c;
    text-decoration: none;
  }

  .main-header a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0px 0px 0px;
    /* position: relative;
    left: 4rem;
    bottom: 0.5rem; */
  }

  .logo {
    width: 30%;
    height: 100%;
    display: flex;
    /* position: relative;
    bottom: 1rem; */
  }

  .banner {
    background: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat, repeat-x;
    background-position: top center;
    height: 400px;
    background-size: 240px 615px, auto;
    color: white;
    text-align: center;
    font-family: "Raleway";
    font-size: 2.3rem;
  }

  .overlay {
    height: auto;
  }

  .banner h1 {
    /* position: relative;
    top: 25px; */
  }

  .featured {
    font-family: "Raleway";
    font-size: 22px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
  }

  .mens {
    height: 250px;
    flex-basis: 100%;
  }

  .trends {
    flex-basis: 50%;
    height: 250px;
  }

  .glasses {
    flex-basis: 50%;
    height: 250px;
  }

  .sale {
    flex-basis: 50%;
    height: 250px;
  }

  .bags {
    flex-basis: 50%;
    height: 250px;
  }

  .womens {
    height: 250px;
    flex-basis: 100%;
  }

  .sufu-container p {
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .copyright {
    /* position: relative;
    bottom: 65px;
    left: 85px; */
  }

  .social {
    /* position: relative;
    left: 6px;
    bottom: 85px; */
  }

  .social a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    left: 60px;
    top: 35px;
    font-size: 14px;
    display: flex;
  }

  .p1 {
    /* position: relative;
    left: 18px; */
  }

  .p2 {
    /* position: relative;
    left: 2px; */
  }

  .p3 {
    /* position: relative;
    right: 25px; */
  }

  .p4 {
    /* position: relative;
    left: 53px; */
  }

  .p5 {
    /* position: relative;
    left: 35px; */
  }

  .address {
    /* position: relative;
    left: 60px;
    bottom: 65px; */
  }

  .link-text {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .carousel-cell {
    width: 25%;
  }
}

.sufu-container {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/wave-bkgd.jpg);
  height: 350px;
  border-style: solid;
  border-color: white;
  border-width: 0px 0px 10px 0px;
  padding: 65px 0px 65px 0px;
  font-family: "Raleway";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center bottom;
}

.sufu-container h2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 35px;
  height: 60px;
  width: 600px;
  display: flex;
  justify-content: center;
}

.signup-paragraph p {
  width: 650px;
  height: 75px;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

/* .input-combo {
  /* display: flex;
  position: relative;
  top: 40px;
} */ 

.email-input {
  border-radius: 25px;
  height: 56px;
  width: 450px;
}

.email-input .placeholder {
  color: red;
  font-family: "Raleway";
  font-size: 10px;
}

.subscribe-button {
  height: 46px;
  width: 130px;
  font-size: 15px;
  color: white;
  background-color: #e2574c;
  border-radius: 25px;
  /* position: absolute;
  top: 6px;
  right: 4px; */
}

.subscribe-button:hover {
  color: #b64036;
}

.footer {
  margin: 0 auto;
  background-color: rgb(39, 37, 37);
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: orange;
}

.footer-inner {
  /* position: relative;
  top: 65px;
  left: 105px; */
}

.address .p {
  color: #969696;
}

.footer p {
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: white;
  font-family: "Playfair";
  text-decoration: none;
  display: flex;
}

.social {
  width: 200px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  /* position: relative;
  bottom: 65px;
  right: 55px; */
}

.social a:hover {
  color: orange;
}

.social a {
  /* position: relative;
  left: 1100px;
  bottom: 65px;
  height: 38px;
  width: 150px; */
  font-size: 16px;
  color: white;
  font-family: "Raleway";
}
