/* Extra Resets */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
   box-sizing: inherit; 
  }

/* Typography */




/* structure sizing */

.container-large {
    max-width: 1240px;
    margin: 0px 0px 0px 72px; /* to center the element */
    background-color:white;
    background-position-x: center;
    } 
    
.container-small{
  max-width: 740px ;
  height:263px;
  padding: 64px 0px 64px 0px;
  /* background-color: grey;remove later */
  margin: 0 auto;
  text-align: center; 
}

/* header */

.main-header{
  height: 97px; 
  display: flex;
  align-items: center;
  padding: 16px 35px 8px 28px;
  
}
.logo{
  width:160px ;
  height: 62px;
  display: flex;
}
 
 .cart{
  display: flex;
  height: 62px;
  width: 62px;
  margin: 0px 0px 0px 0px; 

} 

.links{
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.links a{
  display: inline-block;
  padding: 0px 20px 0px 20px;
  color: #e2574c;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}



/* banner  */

.banner{

    background-image: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat,repeat-x;
    background-position: top center ;
    background-size: 240px 615px, 60%;
    height: 500px;
    color: white; 
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-family: 'Raleway';
    font-size: 65px;
    }

  .overlay{
    height: 500px;
    background:rgba(0,0,0,0.2);  
    
   
 }
    

.banner h4{
     height: 200px; 
     padding: 0px 0px 0px 0px;
      font-size: 25px; 
      display: flex;
      justify-content: center ;
      align-items: flex-end;
}
      
.banner h1{
      height: 200px;
      padding: 0px 0px 00px 0px;
      font-family:'Playfair Display';
      display: flex;
      justify-content: center;
      align-items: top;

    }


.container-large nav {
  font-family: 'Raleway';
}
   

/* hand-crafted */

.container-small h1{
  font-family: 'Playfair Display';
  font-size: 40px; 
   
}

.hand-crafted{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.container-small p{
  font-size: 16px;
  font-family:'Raleway';
  font-weight: 100;
}



/* featured */

.featured{ 
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;

  
  
}
.featured a{ 
  text-decoration: none;
}  


.products a{
  font-family:'Raleway';
  color: white;
  font-size: 26px;
}
.mens { 
  /* mens */
  background-image: url(../images/mens-category.jpg);
  height: 25vw; 
  width: 50%; 
  border-style: solid;
  border-width: 0px 0px 10px 10px;
  border-color: white;
  
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center; 
  justify-content: center;
}
  
.trends{

    /* trends */
  background-image: url(../images/trends-category.jpg);
  height: 25vw;  
  width: 25%; 
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  border-color: white;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
       
     }
.glasses {

    /* glasses */
  background-image: url(../images/glasses-category.jpg);
  height: 25vw; 
  width: 25%; 
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  border-color: white;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
    
}

.sale {

      /* sale */
  background-image: url(../images/sale-category.jpg);
  height: 25vw; 
  width: 25%; 
  border-style: solid;
  border-width: 0px 10px 0px 0px;
  border-color: white;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
      
      }

.bags{

      /* bags */
  background-image: url(../images/bags-category.jpg);
  height: 25vw; 
  width: 25%; 
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: white;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
      
      } 
      
.womens {

      /* womens */
  background-image: url(../images/womens-category.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25vw; 
  width: 50%; 
  border-style: solid;
  border-width: 0px 0px 0px 10px;
  border-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}



/* most loved products */


.mlp-container{
  padding: 64px 0px 64px 0px;
  min-height: 600px;
  width: 970px;
}

 .most-loved {
   display: flex;
   flex-wrap: wrap;
   padding: 0px 64px 64px px;
   min-height: 320px;
   width: 320px;
   background-color:white;
   

}  

/* sign up */

.sufu{
  
  background-image: url(../images/wave-bkgd.jpg);
  min-height: 300px;
  display: flex;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
 

}

/* footer */

.footer{

  
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  background-color:rgb(39, 37, 37);
 
  color:white;
}
.footer a{
  color:white; 
}
.footer a:hover{
  color:orange; 
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.footer p{


  /* width: 600px;  */
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color:white;
  font-family: 'Playfair';
  text-decoration: none;
  display: flex;
 
}

.social{
  
  /* margin: 0px 0px 0px 600px; */
  display: flex; 
  align-items: flex-end;
  justify-content: flex-end ;
  flex-direction: column;
  text-decoration: none;
}
.social a:hover{
  color:orange; 
}

.social a{
  margin: 0px 0px 0px 0px;
  height: 38px;
  width: 150px;
  font-size: 16px;
  color:white;
  font-family: 'Raleway';
  
  }






  /* break points */

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 600px) {
  }
